@import "reset";

$indentWidth: 40px;
$pageWidth: 560px;

.content {
  max-width: $pageWidth;
  margin: 0 auto;
  margin-top: 60px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serifl;
}

h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 14px;
}

.block {
  border-radius: 3px;
  width: 100%;
  &.highlight {
    background: #e4f3f8;
  }
}

.block-content {
  position: relative;
  height: 28px;
  display: flex;

  > .block-actions {
    opacity: 0;
    position: absolute;
    top: 0;
    right: -10000px;
    z-index: 20;

    > .drag-handler {
      width: 18px;
      height: 24px;
      cursor: -webkit-grab;
      border-radius: 3px;
      z-index: 20;
      background-image: url('http://benalderfer.com/reorderable-list/images/grab-dots.svg');

      &:hover {
        background-color: #f0efef;
      }
    }
  }

  &:hover {
    > .block-actions:not(.dragging) {
      opacity: 1;
      right: 100%;
    }
  }
}

.block-children-container {
  display: flex;
  flex-direction: row;

  .pad-left {
    width: $indentWidth;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 2px;
  }

  .block-children {
    flex: 1;
  }
}

.editable-content {
  width: 100%;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  outline: none;
}

.dropzone {
  min-height: 4px;
  flex: 1;
  flex-direction: column;
  position: relative;

  &.active {
    &.hovered .dropzone-indicator {
      height: 4px;
      width: 100%;
      display: block;
      position: absolute;
      bottom: 0;
      background: #90cbe3;

      .dropzone-indicator-levels-container {
        position: absolute;
        top: 0;
        right: 100%;
        display: flex;

        .dropzone-indicator-level {
          background: #b5dcec;
          height: 4px;
          width: $indentWidth;
          margin-right: 2px;
        }
      }
    }

    
    .dropzone-area {
      background: lightblue;
      opacity: 0;
      width: 100%;
      position: absolute;
      top: -12px;
      bottom: -12px;
      z-index: 10;

      &.hover {
        opacity: 0;
        background: blue;
      }
    }
  }

  &.inactive {
    opacity: 0;
    pointer-events: none;
  }

}

.content-wrapper {
  width: 100%;
  height: 28px;
  position: relative;

  &.blue {
    background: #E8F6FC;
  }

  &.red {
    background: #FFEBEB;
  }

  &.yellow {
    background: #FFF8E8;
  }

  .editable-content::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: black;
    border-radius: 3px;
    margin: 9px;
  }
}

.block-options-menu {
  position: absolute;
  display: block;
  z-index: 110;
  background: white;
  box-shadow: rgba(84, 70, 35, 0.3) 0px 6px 20px, rgba(84, 70, 35, 0.14) 0px 1px 3px, rgba(0, 0, 0, 0.08) 0px 0px 1px; //might have copied this from notion

  padding: 8px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &-item {
    padding: 3px 14px;
    display: flex;
    flex-direction: row;
    height: 28px;
    box-sizing: border-box;

    &:hover {
      background: #F0EFEF;
      cursor: default;
    }

    .preview {
      width: 22px;
      height: 22px;
      border-radius: 2px;
      border: 1px solid #D7D7D7;
      box-sizing: border-box;
      text-align: center;
      line-height: 18px;

      &.blue {
        background: #E8F6FC;
      }

      &.red {
        background: #FFEBEB;
      }

      &.yellow {
        background: #FFF8E8;
      }
    }

    .label {
      padding: 2px 0;
      margin-left: 8px;
    }
  }
}

.menu-screen-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

